<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Welcome to EaglesCode, <%= @user.name %></h3>
    <p>
      You have successfully paid  USD <%= @project.price%> your subscription to eaglescode for <%= @project.name %>,
      your password is: <%= @user.password %>.<br>
    </p>
    
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>