<h3>About</h3>

<div class="row">
    <div class="col s12 m4"></div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="https://static.wixstatic.com/media/d1e6e6_97fe29416ac341709a39042a8798f2f8~mv2.jpg/v1/crop/x_0,y_23,w_420,h_420/fill/w_376,h_375,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/Martin%20Passport%20Photo_JPG.jpg">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>Martin Lubowa is a graduate of the African Leadership Academy. He is passionate about merging entrepreneurship with education/health care sectors in Africa to build resilient and prosperous enterprises. He has served as the co-founder and managing director of the Africa Students Support Network (AFRISSUN), a community based non-organization in Uganda. Notably, he has led several charity drives to mobilize food/educational resources for underserved communities.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    
    </div>
    <div class="col s12 m4"></div>

  </div>
            
